.container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content:center;
  border:1px solid rgb(0, 0, 0);
  
  background-color: rgb(216, 216, 216);
  
}

.component {
  flex: 0 0 calc(40% - 20px);
  border: 1px solid rgb(207, 207, 207);
    background-color:beige;
    margin:10px;

}

@media (max-width: 768px) {
  .component {
    flex: 0 0 calc(100% - 20px);
  }
}